@model List<Amazon.DynamoDBv2.DocumentModel.Document>
@{
    // Filter comments for a specific MovieID
    var movieIdToShow = @ViewData["MovieId"].ToString();
    var commentsForMovie = Model.Where(comment => comment["MovieID"] == movieIdToShow).ToList();
    var userIdToShow = @ViewData["UserId"].ToString();
    var commentsByUser = commentsForMovie.Any(comment => comment["UserID"] == userIdToShow);
}

<style>
    .emoji {
        cursor: pointer;
    }

    .emoji:hover {
        transform: scale(1.1);
    }
</style>

<h1 class="bg-primary text-light p-3 d-flex align-items-center justify-content-between">
    <span>@ViewData["Title"]</span>
    <a class="btn btn-danger ms-auto" href="@Url.Action("Index", "Video", 
        new { userId = @ViewData["UserId"]})">Back</a>
</h1>

<div class="emoji-rating">
    <a href="/VideoInfo/Rating?rating=1&movieId=@ViewData["MovieId"]&userId=@ViewData["UserId"]" onclick="alert('You rated 1 star!')">😞</a>
    <a href="/VideoInfo/Rating?rating=2&movieId=@ViewData["MovieId"]&userId=@ViewData["UserId"]" onclick="alert('You rated 2 stars!')">😐</a>
    <a href="/VideoInfo/Rating?rating=3&movieId=@ViewData["MovieId"]&userId=@ViewData["UserId"]" onclick="alert('You rated 3 stars!')">😊</a>
    <a href="/VideoInfo/Rating?rating=4&movieId=@ViewData["MovieId"]&userId=@ViewData["UserId"]" onclick="alert('You rated 4 stars!')">😄</a>
    <a href="/VideoInfo/Rating?rating=5&movieId=@ViewData["MovieId"]&userId=@ViewData["UserId"]" onclick="alert('You rated 5 stars!')">😍</a>
</div>

<div class="comment-section">
    <h3>Comments</h3>
    @if (!commentsByUser)
    {
        <div class="comment-box mb-3">
            <form method="post" action="@Url.Action("Post", "VideoInfo")">
                <textarea class="form-control" name="comment" placeholder="Write your comment here"></textarea>
                <input type="hidden" name="title" value="@ViewData["Title"]" />
                <input type="hidden" name="movieId" value="@ViewData["MovieId"]" />
                <input type="hidden" name="userId" value="@ViewData["UserId"]" />
                <button type="submit" class="btn btn-primary mt-2">Post</button>
            </form>
        </div>
    }
    <div class="comments">
        @foreach (var comment in commentsForMovie)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">@comment["Comment"]</p>
                </div>
            </div>
        }
    </div>
</div>

<script>
    const emojis = document.querySelectorAll('.emoji');

    emojis.forEach(emoji => {
        emoji.addEventListener('click', function () {
            const rating = this.getAttribute('data-rating');
            alert(`You rated ${rating} stars!`);
        });
    });
</script>
